In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 6.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.1)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 kB 6.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.2 pytz-2022.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
import os

In [3]:
WORKING_DIRECTORY = os.getcwd()
print(WORKING_DIRECTORY)

/tf/notebooks/read_csv

In [4]:
os.listdir(WORKING_DIRECTORY)

['.ipynb_checkpoints',
 'Notebook.ipynb',
 'Readme.md',
 'dummy_data.csv',
 'dummy_data_pipe.csv']

In [5]:
DATA_FILE = f'{WORKING_DIRECTORY}/dummy_data.csv'

In [6]:
df = pd.read_csv(DATA_FILE)

In [7]:
df.head()

,cust_id,name,age,address,active,job
0,FDFJ1245,Daniel Hickman,46,"22837 Ruiz Circle Suite 778\nDawsonview, ME 95272",False,Patent attorney
1,GFHS5632,Abigail Sims,55,Unit 9663 Box 9066\nDPO AA 29315,True,"Therapist, music"
2,LHJH6732,Bradley Henderson,35,44072 Sharp Station Suite 337\nSouth Madisonsi...,True,Heritage manager
3,ISGK9792,Alexander Wilson,54,"79115 Jose Way\nAndersonstad, KS 48189",False,Higher education careers adviser
4,DARA2514,Erik Long,25,"901 Reed Parkway\nMargaretstad, DC 21210",True,Financial controller

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  10 non-null     object
 1   name     10 non-null     object
 2   age      10 non-null     int64
 3   address  10 non-null     object
 4   active   10 non-null     bool
 5   job      10 non-null     object
dtypes: bool(1), int64(1), object(4)
memory usage: 538.0+ bytes

In [9]:
df = pd.read_csv(DATA_FILE, index_col='cust_id')

In [10]:
df.head()

,name,age,address,active,job
cust_id,,,,,
FDFJ1245,Daniel Hickman,46,"22837 Ruiz Circle Suite 778\nDawsonview, ME 95272",False,Patent attorney
GFHS5632,Abigail Sims,55,Unit 9663 Box 9066\nDPO AA 29315,True,"Therapist, music"
LHJH6732,Bradley Henderson,35,44072 Sharp Station Suite 337\nSouth Madisonsi...,True,Heritage manager
ISGK9792,Alexander Wilson,54,"79115 Jose Way\nAndersonstad, KS 48189",False,Higher education careers adviser
DARA2514,Erik Long,25,"901 Reed Parkway\nMargaretstad, DC 21210",True,Financial controller

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, FDFJ1245 to JGHW6291
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     10 non-null     object
 1   age      10 non-null     int64
 2   address  10 non-null     object
 3   active   10 non-null     bool
 4   job      10 non-null     object
dtypes: bool(1), int64(1), object(3)
memory usage: 410.0+ bytes

In [12]:
df = pd.read_csv(DATA_FILE, index_col='CustomerID',
                 names=['CustomerID', 'Name', 'Age', 'Address', 'Active', 'JobTitle'],
                 skiprows=1)

In [13]:
df.head()

,Name,Age,Address,Active,JobTitle
CustomerID,,,,,
FDFJ1245,Daniel Hickman,46,"22837 Ruiz Circle Suite 778\nDawsonview, ME 95272",False,Patent attorney
GFHS5632,Abigail Sims,55,Unit 9663 Box 9066\nDPO AA 29315,True,"Therapist, music"
LHJH6732,Bradley Henderson,35,44072 Sharp Station Suite 337\nSouth Madisonsi...,True,Heritage manager
ISGK9792,Alexander Wilson,54,"79115 Jose Way\nAndersonstad, KS 48189",False,Higher education careers adviser
DARA2514,Erik Long,25,"901 Reed Parkway\nMargaretstad, DC 21210",True,Financial controller

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, FDFJ1245 to JGHW6291
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10 non-null     object
 1   Age       10 non-null     int64
 2   Address   10 non-null     object
 3   Active    10 non-null     bool
 4   JobTitle  10 non-null     object
dtypes: bool(1), int64(1), object(3)
memory usage: 410.0+ bytes

In [15]:
DATA_FILE = f'{WORKING_DIRECTORY}/dummy_data_pipe.csv'

In [16]:
df = pd.read_csv(DATA_FILE, index_col='cust_id', sep='|')

In [17]:
df.head()

,name,age,address,active,job
cust_id,,,,,
FDFJ1245,Daniel Hickman,46,"22837 Ruiz Circle Suite 778\nDawsonview, ME 95272",False,Patent attorney
GFHS5632,Abigail Sims,55,Unit 9663 Box 9066\nDPO AA 29315,True,"Therapist, music"
LHJH6732,Bradley Henderson,35,44072 Sharp Station Suite 337\nSouth Madisonsi...,True,Heritage manager
ISGK9792,Alexander Wilson,54,"79115 Jose Way\nAndersonstad, KS 48189",False,Higher education careers adviser
DARA2514,Erik Long,25,"901 Reed Parkway\nMargaretstad, DC 21210",True,Financial controller

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, FDFJ1245 to JGHW6291
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     10 non-null     object
 1   age      10 non-null     int64
 2   address  10 non-null     object
 3   active   10 non-null     bool
 4   job      10 non-null     object
dtypes: bool(1), int64(1), object(3)
memory usage: 410.0+ bytes