In [1]:
!pip install pandas Faker

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 6.3 MB/s eta 0:00:0000:0100:01
Collecting Faker
  Downloading Faker-13.11.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 6.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 kB 6.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas, Faker
Successfully installed Faker-13.11.1 pandas-1.4.2 pytz-2022.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
from faker import Faker

In [3]:
fake = Faker()

In [4]:
fake.name()

'Heather Wallace'

In [5]:
fake.address()

'83385 Jason Highway\nNew Cliffordshire, ME 80063'

In [6]:
fake.company()

'Henderson-Harris'

In [7]:
fake.email()

'kevin53@example.net'

In [8]:
import pandas as pd

In [9]:
N_RECORDS = 100

In [10]:
name = [fake.name() for _ in range(N_RECORDS)]
address = [fake.address() for _ in range(N_RECORDS)]
company = [fake.company() for _ in range(N_RECORDS)]

In [11]:
data = {'name': name, 'address': address, 'company': company}
df = pd.DataFrame.from_dict(data)

In [12]:
df.head()

,name,address,company
0,Diane Ellis,"6970 Casey Squares Apt. 745\nGarciafurt, IN 62627","Reyes, Evans and Brown"
1,William Johnson,"0935 Gray Harbor Suite 702\nWest Matthew, MN 1...","Short, Anderson and Murphy"
2,Monica Christensen,"52760 Abigail Alley\nLesliefurt, VT 72185",Juarez Ltd
3,Krystal Jordan,USCGC Hernandez\nFPO AA 42708,Griffin-Miller
4,Ashley Pitts,5987 Vasquez Villages Suite 520\nNew Janeborou...,"Walker, Wheeler and White"