In [1]:
!pip install pandas Faker

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 1.6 MB/s eta 0:00:0000:0100:01m
Collecting Faker
  Downloading Faker-13.12.0-py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 2.2 MB/s eta 0:00:0000:0100:01
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 kB 857.4 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas, Faker
Successfully installed Faker-13.12.0 pandas-1.4.2 pytz-2022.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [1]:
from faker import Faker
import pandas as pd

In [2]:
fake = Faker()

In [4]:
fake.name()

'Sabrina Simpson'

In [5]:
fake.address()

'5552 Randy Ville Suite 970\nWest Margaretstad, VT 50693'

In [6]:
fake.company()

'Curry Group'

In [7]:
fake.email()

'erichill@example.com'

In [8]:
fake.random_element(elements = ('Credit', 'Debit'))

'Credit'

In [4]:
N_RECORDS = 100

In [5]:
V1 = [fake.name() for _ in range(N_RECORDS)]
V2 = [fake.pyint(min_value=0, max_value=50) for _ in range(N_RECORDS)]
V3 = [round(fake.pyfloat(min_value=0.0, max_value=20.0), 2) for _ in range(N_RECORDS)]
V4 = [round(fake.pyfloat(min_value=20.0, max_value=100.0), 2) for _ in range(N_RECORDS)]

In [6]:
data = {'V1': V1, 'V2': V2, 'V3': V3, 'V4': V4}
df = pd.DataFrame.from_dict(data)

In [7]:
df.head()

               V1  V2     V3     V4
0    Lisa Johnson   4   8.77  65.86
1       John Reed  21  12.23  28.57
2  Bethany Garcia   6  13.53  85.43
3    Austin Woods   3   3.60  42.92
4  Troy Carpenter  35  13.95  98.36

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      100 non-null    object
 1   V2      100 non-null    int64
 2   V3      100 non-null    float64
 3   V4      100 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ KB

In [9]:
with open('./dummy_data.csv', 'w+') as output_file:
    df.to_csv(output_file, index=False)