In [1]:
!pip install pandas Faker

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 4.9 MB/s eta 0:00:0000:0100:01
Collecting Faker
  Downloading Faker-13.11.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 4.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.1)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 503.5/503.5 kB 2.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas, Faker
Successfully installed Faker-13.11.1 pandas-1.4.2 pytz-2022.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
from faker import Faker
import pandas as pd

In [3]:
fake = Faker()

In [4]:
fake.name()

'Sabrina Simpson'

In [5]:
fake.address()

'5552 Randy Ville Suite 970\nWest Margaretstad, VT 50693'

In [6]:
fake.company()

'Curry Group'

In [7]:
fake.email()

'erichill@example.com'

In [8]:
fake.random_element(elements = ('Credit', 'Debit'))

'Credit'

In [9]:
N_RECORDS = 1000

In [10]:
name = [fake.name() for _ in range(N_RECORDS)]
address = [fake.address() for _ in range(N_RECORDS)]
company = [fake.company() for _ in range(N_RECORDS)]
card_type = [fake.random_element(elements = ('Credit', 'Debit')) for _ in range(N_RECORDS)]

In [11]:
data = {'name': name, 'address': address, 'company': company, 'card_type': card_type}
df = pd.DataFrame.from_dict(data)

In [12]:
df.head()

,name,address,company,card_type
0,Adrian Mason,"7421 Jordan Estate\nPort Christine, KS 63266","Higgins, Williams and Carter",Debit
1,Ricky Mack,"9688 Pamela Estates Apt. 029\nAnthonyville, VT...",Scott-Vaughn,Debit
2,Tabitha Miller,"14257 Aguirre Islands\nPort Daniel, WY 65373","Garrison, Barr and Combs",Debit
3,Matthew Pittman,"3531 Lopez Rapid Suite 893\nAlyssaview, MD 44356",Fox-Austin,Credit
4,Barry Stokes,"23795 Reyes Pines Suite 697\nWest Joshua, KY 6...",Young and Sons,Debit

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1000 non-null   object
 1   address    1000 non-null   object
 2   company    1000 non-null   object
 3   card_type  1000 non-null   object
dtypes: object(4)
memory usage: 31.4+ KB

In [14]:
with open('./dummy_data.csv', 'w+') as output_file:
    df.to_csv(output_file, index=False)